<div>
    <form action="/artist-search" method="GET" class="text-center">
        <label for="artist"></label>
        <input type="text" id="artist" name="artist" placeholder="Introduce your artist name"></input>
        <button class="boton">Search for an artist</button>
    </form>
</div>